@import "css/page-theme";

html,body,.main
{
    height: 100%;
}

.main
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

section.result-zone
{
    flex: 1;
    overflow: auto;
    padding: 15px;

    .target-file-list
    {
        height: 100%;
    }
}

section.button-zone
{
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > div
    {
        flex: 1;
    }

    .right
    {
        display: flex;
        justify-content: flex-end;
    }
}

section.search-zone
{
    padding: 10px;
}